/*---COLORS---------------------------------------------------------------*/

/*---MOBILE-1-------------------------------------------*/

body {
  background-color: #0A0A0A;
  color: #FFFFFF;
}

nav {
  background-color: #121212;
}

.follow {
  background-color: #181818;
}

.news {
  background-image: url(/images/background.jpg);
  background-size: cover;
}

.overlay {
  background: linear-gradient(180deg, #0A0A0A 0%, rgba(10, 10, 10, 0.85) 100%);
}

.news-image {
  border: 0.1rem solid #CCCCCC;
}

.tour-content .main-heading {
  color: #CCCCCC;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: #3181F2;
}

.listen-on-link:hover .fade-bg {
    background-color: black;
    border-radius: 1.4rem;
}

.listen-on-link:hover .listen-on-image {
    opacity: 0.7;
}

/*---DESKTOP-1------------------------------------------*/

@media screen and (min-width: 900px) {

  nav {
    background: transparent;
  }

}
