/*---IMAGES-LAYOUT--------------------------------------------------------*/

/*---MOBILE-1-------------------------------------------*/

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/*---HEADER---------------------*/

.logo {
  height: 8rem;
}

.hamburger-menu-icon {
  height: 2.2rem;
}

.close-nav-menu-icon {
  height: 2.3rem;
}

/*---MEDIA----------------------*/

/*---NEWS-----------------------*/

/*---TOUR-----------------------*/

/*---BAND-----------------------*/

/*---MOBILE-2-------------------------------------------*/

@media screen and (min-width: 600px) {

  /*---NEWS-----------------------*/

}

/*---DESKTOP-1------------------------------------------*/

@media screen and (min-width: 900px) {

  /*---HEADER---------------------*/

  .logo {
    height: 12rem;
  }

  /*---MEDIA----------------------*/

  /*---NEWS-----------------------*/

  /*---TOUR-----------------------*/

  /*---BAND-----------------------*/

}

/*---DESKTOP-2------------------------------------------*/

@media screen and (min-width: 1200px) {

  /*---NEWS-----------------------*/

}
