/*---LAYOUT---------------------------------------------------------------*/

*:before, *:after {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
  position: relative;
}

/*---MOBILE-1-------------------------------------------*/

/*---HEADER---------------------*/

header {
  padding: 2.4rem 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.header-content {
  margin: 0 auto;
  width: 87.2%;
}

.logo {
  float: left;
}

.hamburger-menu, .close-nav-menu {
  margin-top: 1.7rem;
  position: fixed;
  right: 6.4%;
}

.close-nav-menu {
  display: none;
  position: fixed;
  z-index: 6;
}

.stopscroll {
  overflow: hidden;
}

nav {
  display: none;
  height: 100%;
  margin: -2.4rem 0 -4rem -12.8%;
  position: fixed;
  width: 112.8%;
  z-index: 5;
}

.nav-links-container {
  display: flex;
  flex-direction: column;
  margin-top: -12.3rem;
  position: relative;
  top: 50%;
}

.nav-link {
  text-align: center;
}

.nav-link a {
  display: block;
  padding: 2.4rem 0;
}

/*---FOOTER---------------------*/

footer {
  bottom: 0;
  padding: 2.4rem 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

/*---FOLLOW---------------------*/

.follow {
  overflow: auto;
  position: relative;
}

.follow-content {
  height: 10.8rem;
  left: 50%;
  margin: 4.8rem 0 9.6rem -16rem;
  position: relative;
  width: 32rem;
}

.follow-content .large-heading {
  left: 50%;
  margin-left: -6.6rem;
  position: absolute;
  top: 0;
}

.social-media-links {
  bottom: 0;
  display: flex;
  flex-direction: row;
  left: 50%;
  margin-left: -14.4rem;
  position: absolute;
}

.social-media-link {
  margin: 0 1.6rem;
}

/*---NEWS-----------------------*/

.news {
  height: 90rem;
  overflow: hidden;
  position: relative;
}

.overlay {
  height: 100%;
  position: absolute;
  width: 100%;
}

.news-content {
  animation: fadein ease 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  height: 71.4rem;
  left: 50%;
  margin-left: -15rem;
  position: relative;
  top: 15%;
  width: 30rem;
  z-index: 4;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.news-title {
  margin: 0 auto;
  text-align: center;
  width: 30rem;
}

.news-intro {
  margin-top: 1.6rem;
  text-align: center;
}

.news-image {
  border-radius: 0.1rem;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
  margin-top: 3.2rem;
}

.news-content .large-heading {
  margin-top: 3.2rem;
  text-align: center;
}

.news-content .label {
  margin-top: 1.6rem;
  text-align: center;
}

.listen-on {
  height: 11.2rem;
  margin: 2.4rem auto 0;
  position: relative;
  width: 27.6rem;
}

.spotify {
  position: absolute;
}

.apple-music {
  position: absolute;
  right: 0;
  top: 0;
}

.youtube {
  bottom: 0;
  left: 50%;
  margin-left: -6.5rem;
  position: absolute;
}

/*---TOUR-----------------------*/

.tour-content {
  height: 15.7rem;
  margin: 4rem auto 4.8rem;
}

.tour-content .large-heading {
  text-align: center;
}

.bottom-border {
  height: 0.1rem;
  margin: 2.4rem auto 0;
  width: 32rem;
}

.tour-content .main-heading {
  margin: 2.4rem auto 0;
  text-align: center;
  width: 22.7rem;
}

/*---DESKTOP-1------------------------------------------*/

@media screen and (min-width: 900px) {

  /*---HEADER---------------------*/

  header {
    min-width: 56.4rem;
    overflow: hidden;
    padding: 4rem 0;
  }

  .header-content {
    width: 82%;
  }

  .hamburger-menu, .close-nav-menu {
    display: none;
  }

  nav {
    display: block;
    float: right;
    margin: 4rem 0 0 0;
    position: static;
    width: auto;
  }

  .nav-links-container {
    flex-direction: row;
    margin-top: 0;
    position: static;
  }

  .nav-link {
    margin: 0 1.6rem;
  }

  .nav-link a {
    padding: 0;
  }

  /*---FOLLOW---------------------*/

  .follow-content {
    height: 15.2rem;
    margin: 6.4rem 0 13.2rem -25.2rem;
    width: 50.4rem;
  }

  .follow-content .large-heading {
    margin-left: -9.25rem;
  }

  .social-media-links {
    margin-left: -20.8rem;
    width: 41.6rem;
  }

  .social-media-link {
    margin: 0 2.4rem;
  }

  /*---NEWS-----------------------*/

  .news {
    height: 102.4rem;
  }

  .news-content {
    height: 68rem;
    left: 48%;
    margin: -35rem 0 0 -38rem;
    top: 54%;
    width: 76rem;
  }

  .news-title {
    position: absolute;
    width: 100%;
  }

  .news-intro {
    margin-top: 0;
    position: absolute;
    top: 10rem;
    width: 100%;
  }

  .news-image {
    bottom: 0;
    margin-top: 0;
    position: absolute;
  }

  .news-content .large-heading {
    left: 54.4rem;
    margin-top: 0;
    position: absolute;
    top: 24rem;
  }

  .news-content .label {
    left: 54.4rem;
    margin-top: 0;
    position: absolute;
    top: 30.4rem;
  }

  .listen-on {
    bottom: 2.2rem;
    height: 28.8rem;
    margin: 0;
    position: absolute;
    right: 0;
    width: 21.6rem;
  }

  .apple-music {
    top: 10.4rem;
  }

  .youtube {
    bottom: 0;
    left: 0;
    margin-left: 0;
  }

  /*---TOUR-----------------------*/

  .tour-content {
    height: 16.2rem;
    margin: 5.6rem auto 8rem;
  }

  .bottom-border {
    margin-top: 3.2rem;
    width: 80%;
  }

  .tour-content .main-heading {
    margin-top: 4.8rem;
    width: 80%;
  }

}
