/*---TYPOGRAPHY-----------------------------------------------------------*/

html {
  font-size: 10px; /* 1rem = 10px */
}

/*---MOBILE-1---------------------------------------*/

body, p, div {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
}

.large-heading {
  font-size: 3.4rem;
}

.main-heading {
  font-size: 2rem;
  font-weight: 300;
  line-height: 140%;
}

a {
  text-decoration: none;
}

.nav-link {
  font-size: 3.4rem;
}

.label {
  font-size: 1.6rem;
  font-weight: 300;
}

.news-title {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 4rem;
  line-height: 140%;
}

.news-intro {
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 300;
}

/*---DESKTOP-1------------------------------------------*/

@media screen and (min-width: 900px) {

  body, p, div {
    font-size: 1.6rem;
  }

  .large-heading {
    font-size: 4.8rem;
  }

  .main-heading {
    font-size: 2.4rem;
  }

  .nav-link {
    font-size: 2rem;
  }

  .label {
    font-size: 2rem;
  }

  .news-title {
    font-size: 5.6rem;
  }

  .news-intro {
    font-size: 3rem;
    line-height: 140%;
  }

}
